address-input-form {

    .content {

        h3 {
            text-align: center;
            padding: 1rem 0;
            font-size: 100% !important;
            letter-spacing: 0.1rem;
            text-transform: uppercase !important;
        }
    }

}
