page-payment {
    .cust-list-header {
        border-top: none !important;
        border-bottom: 1px solid #{map-get($bgcolors, light)};
        text-transform: uppercase;
        text-align: center;
    }
    .btn-dark {
        ion-icon {
            margin-left: 10px;
            font-weight: bolder;
        }
    }

    ion-item[class*="item-"], ion-content button {
        font-size: 1.2rem !important;
        letter-spacing: 0.1rem;
    }
}

.popover-content {
    * {
        font-size: 1.2rem !important;
        letter-spacing: 0.1rem;
    }
}