address-list {
    .content {

        border:1px solid #000;
        margin: 1rem 1.5rem;

    }

    h3 {
        padding: 1rem 0;
        text-align: center;
        font-size: 100% !important;
        letter-spacing: 0.1rem;
        text-transform: uppercase !important;
    }
    ion-list-header {
        text-transform: uppercase !important;
        color: #{map-get($map: $bgcolors, $key: element)} !important;
    }
    ion-item {
        font-size: 1.2rem !important;
        letter-spacing: 0.1rem;
    }
}
